# NFL Over Unders

In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
#learning from https://github.com/jensenbenjamin/NBA_Betting_Model/blob/main/2022NBA_OverUnder.ipynb?source=post_page-----7b5195b405d2--------------------------------

In [88]:
import os
os.chdir('/Users/allisonkruse/desktop/nfl')
os.getcwd()

'/Users/allisonkruse/Desktop/nfl'

In [89]:
path = '/Users/allisonkruse/desktop/nfl/2022_2023_Season_OU_Output_Only.csv'
df = pd.read_csv(path)
df.head()

,Date,Visitor,Visitor_Score,Home,Home_Score,Overtime,Total_Score,W_Team_Score,Winning_Team,h_pts_game,...,v_pass_yd_game,v_tt_ytd_game,h_df_pts_game,h_df_rush_yd_game,h_df_pass_yd_game,h_df_tt_ytd_game,v_df_pts_game,v_df_rush_yd_game,v_df_pass_yd_game,v_df_tt_ytd_game
0,9/8/22,Buffalo Bills,31,Los Angeles Rams,10,NaN,41,31,Buffalo Bills,28.4,...,258.1,397.6,22.6,115.1,226.0,341.1,17.9,104.6,214.6,319.1
1,9/11/22,Indianapolis Colts,20,Houston Texans,20,OT,40,20,Indianapolis Colts,17.0,...,201.9,311.6,24.7,170.2,209.3,379.5,25.1,124.1,209.9,334.0
2,9/11/22,San Francisco 49ers,10,Chicago Bears,19,NaN,29,19,Chicago Bears,19.2,...,226.8,365.6,27.2,157.3,218.6,375.9,16.3,77.7,222.9,300.6
3,9/11/22,Pittsburgh Steelers,23,Cincinnati Bengals,20,OT,43,23,Pittsburgh Steelers,26.1,...,200.6,322.6,20.1,106.6,229.1,335.7,20.4,108.1,222.3,330.4
4,9/11/22,Philadelphia Eagles,38,Detroit Lions,35,NaN,73,38,Philadelphia Eagles,26.6,...,241.5,389.1,25.1,146.5,245.8,392.4,20.2,121.6,179.8,301.5

In [90]:
print(list(df.columns))

['Date', 'Visitor', 'Visitor_Score', 'Home', 'Home_Score', 'Overtime', 'Total_Score', 'W_Team_Score', 'Winning_Team', 'h_pts_game', 'h_rush_yd_game', 'h_pass_yd_game', 'h_tt_ytd_game', 'v_pts_game', 'v_rush_yd_game', 'v_pass_yd_game', 'v_tt_ytd_game', 'h_df_pts_game', 'h_df_rush_yd_game', 'h_df_pass_yd_game', 'h_df_tt_ytd_game', 'v_df_pts_game', 'v_df_rush_yd_game', 'v_df_pass_yd_game', 'v_df_tt_ytd_game']

In [91]:
features = ['h_pts_game', 'h_rush_yd_game', 'h_pass_yd_game', 'h_tt_ytd_game', 'v_pts_game', 'v_rush_yd_game', 'v_pass_yd_game', 'v_tt_ytd_game', 'h_df_pts_game', 'h_df_rush_yd_game', 'h_df_pass_yd_game', 'h_df_tt_ytd_game', 'v_df_pts_game', 'v_df_rush_yd_game', 'v_df_pass_yd_game', 'v_df_tt_ytd_game']

In [92]:
#drop any nas 
df_without_missing_values = df.dropna()

In [93]:
#set the target 
target = df_without_missing_values['Total_Score']
target.head()

1     40
3     43
26    52
61    51
64    21
Name: Total_Score, dtype: int64

X's and y's
Next, I just define a data frame with my desired features as X and and a data frame with my target variable as y to fit in with standard conventions for many ML models.

In [94]:
X = df_without_missing_values[features]
y=target

In [95]:
#Splitting the data for training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [104]:
#this is just my first one, I'll try out some others and find the best one as well 
from sklearn.ensemble import GradientBoostingRegressor
GB = GradientBoostingRegressor()
GB.fit(X_train, y_train)
GB_predict_Train=GB.predict(X_train)

RMSE1=sqrt(mean_squared_error(y_train,GB_predict_Train))
print("RMSE (training) for GB:{0:10f}".format(RMSE1))
GB_predict_Test=GB.predict(X_test)
RMSE= sqrt(mean_squared_error(y_test,GB_predict_Test))
print("RMSE (Test Data) for GB:{0:10f}".format(RMSE))

RMSE (training) for GB:  0.002113
RMSE (Test Data) for GB: 18.278348

In [105]:
#make bet 
Bet = pd.read_csv('/Users/allisonkruse/desktop/nfl/2023_game_one.csv')
Bet.head()

,Date,Visitor,Home,Total_Score,h_pts_game,h_rush_yd_game,h_pass_yd_game,h_tt_ytd_game,v_pts_game,v_rush_yd_game,v_pass_yd_game,v_tt_ytd_game,h_df_pts_game,h_df_rush_yd_game,h_df_pass_yd_game,h_df_tt_ytd_game,v_df_pts_game,v_df_rush_yd_game,v_df_pass_yd_game,v_df_tt_ytd_game
0,9/7/23,Detroit Lions,Kansas City Chiefs,NaN,29.2,115.9,297.8,413.6,26.6,128.2,251.8,380,21.7,107.2,220.9,328.2,25.1,146.5,245.8,392.4

In [106]:
#To make predictions, the data frame needs to match the format (number of columns and column titles) of the training data.
Bet = Bet.iloc[: , 4:]

Bet.head()

,h_pts_game,h_rush_yd_game,h_pass_yd_game,h_tt_ytd_game,v_pts_game,v_rush_yd_game,v_pass_yd_game,v_tt_ytd_game,h_df_pts_game,h_df_rush_yd_game,h_df_pass_yd_game,h_df_tt_ytd_game,v_df_pts_game,v_df_rush_yd_game,v_df_pass_yd_game,v_df_tt_ytd_game
0,29.2,115.9,297.8,413.6,26.6,128.2,251.8,380,21.7,107.2,220.9,328.2,25.1,146.5,245.8,392.4

In [107]:
GB_predict_Tonight=GB.predict(Bet)

In [108]:
GB_predict_Tonight

array([41.80955987])

## Create template data for future weeks
I made the game one stats manually in excel. I want to be able to use the above to generate the stats I need each week for the home and vistor team by just plugging in which teams are playing.

In [109]:
#load in base data to use to use to create future weeks 
team_stats = pd.read_csv('/Users/allisonkruse/desktop/nfl/2022_2023_Season_Full_Team_Only.csv')
team_stats.head()

,Team,pts_game,rush_yd_game,pass_yd_game,tt_ytd_game,df_pts_game,df_rush_yd_game,df_pass_yd_game,df_tt_ytd_game,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Kansas City Chiefs,29.2,115.9,297.8,413.6,21.7,107.2,220.9,328.2,NaN,NaN,NaN,NaN
1,Buffalo Bills,28.4,139.5,258.1,397.6,17.9,104.6,214.6,319.1,NaN,NaN,NaN,NaN
2,Philadelphia Eagles,28.1,147.6,241.5,389.1,20.2,121.6,179.8,301.5,NaN,NaN,NaN,NaN
3,Detroit Lions,26.6,128.2,251.8,380.0,25.1,146.5,245.8,392.4,NaN,NaN,NaN,NaN
4,San Francisco 49ers,26.5,138.8,226.8,365.6,16.3,77.7,222.9,300.6,NaN,NaN,NaN,NaN